<suite name="LumaRegressionSuite" verbose="1" parallel="tests" thread-count="3">

    <!-- Global Parameter -->
    <parameter name="appURL" value="https://magento.softwaretestingboard.com"/>

    <!-- Login Tests -->
    <test name="Login Test">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>

    <!-- TestNG Listener -->
    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>


<!--<test name="SmokeOnly">-->
<!--    <groups>-->
<!--        <run>-->
<!--            <include name="smoke"/>-->
<!--        </run>-->
<!--    </groups>-->
<!--    <classes>-->
<!--        <class name="tests"/>-->
<!--    </classes>-->
<!--</test>-->
</suite>
